/* element/tag selector */
h1 {
  color: slateblue;
}

main h1 {
  color: slateblue;
}

/* descendant selector */
footer p {
  font-size: larger;
  background-color: lightblue;
}

/* class selector */
.my-footer {
  font-size: larger;
  background-color: lightblue;
}

/* ID selector */
#my-footer {
  font-size: larger;
  background-color: lightblue;
}

/* ID selector */
footer.my-footer {
  font-size: larger;
  background-color: lightblue;
}

nav,
footer {
  background-color: steelblue;
  color: white;
  padding: 10px;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
}
/* pseudo class selector */
a:hover {
  background-color: white;
  color: steelblue;
}

img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

body {
  text-align: center;
}

/* 
Absolute:
    px
    pt
Relative
    %
    em
    rem
    vw
    vh

*/
