/* TODO: ADD
nav {
  background-color: steelblue;
  padding: 10px;
} */
/* TODO: ADD 
a {
  color: white;
  margin: 40px;
} */
/* TODO: ADD
h1 {
  color: steelblue;
}
img {
  width: 800px;
  border: 4px solid steelblue;
}
p {
  padding: 10px;
}
footer {
  background-color: steelblue;
  color: white;
} */
